<?xml version="1.0"?>
<launch>
    <!-- 0. Setup arguments -->
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="world_name" default="$(find aruco_client)/worlds/word2vec_empty.world"/>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="respawn_gazebo" default="false"/>

    <!-- 1. Launch a Gazebo File with the right settings -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- 2. Load the hitl model of the iris -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.2"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <arg name="vehicle" default="iris"/>
    <arg name="model_name" default="iris_bottom_cam_hitl"/>
    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model_name)/$(arg model_name).sdf"/>
    <node name="$(anon vehicle_spawn)" pkg="gazebo_ros" type="spawn_model" output="screen" args="-sdf -file $(arg sdf) -model $(arg vehicle) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

    <!-- 2.5 Px4 stuff I am not sure about -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris"/>
    <env name="PX4_SIM_MODEL" value="$(arg vehicle)" /> <!-- Maybe change this too? -->
    <env name="PX4_ESTIMATOR" value="$(arg est)" />

    <!-- 3. Load the Mavros node with the correct connection  -->
    <arg name="respawn_mavros" default="false"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <include file="$(find mavros)/launch/px4.launch">
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>


    <!-- 4. Load all the shwizzle for our system -->


</launch>
